@page "/"

<PageTitle>Главная</PageTitle>

<style>
h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}
</style>

<h2>Система автоматического обнаружения и анализа трещин.</h2>
<p style="text-align:center;"><img src="logo.png" alt="Logo" /></p>
<h3>Физтех-Школа Прикладной математики и информатики (ФПМИ) МФТИ</h3>
